@import url(/scss/main.scss);
@import '/scss/partials/variables','/scss/partials/mixins', 
'/scss/partials/placeholder', '/scss/partials/functions';


.home-cards__container {
    @include flex-column;
    border: 1px solid green;
    width: $card-width-restaurant;
    height: 100%;
    // à changer si fonctionnement pas bon avec auto pour $card-height-restaurant
    border-radius: $card-radius-restaurant;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $text-color;
    background-color: $bg-color-cards-logo;

    .img-and-txt {
        display: flex;

        .new {
            position: relative;
            transform: translate(-96px, 32px);
            z-index: 2;
            background-color: $tertiary-color;
            border: 1px solid $tertiary-color;
            height: 32px;
            width: auto;
            padding: 8px;
        }

        .cards-img {
            height: 100%;
            width: 100%;
            border: 1px solid red;
            object-fit: cover;
            object-position: center bottom;
            border-radius: $img-radius-restaurant;
            z-index: 1;
        }
    }
}