@import '_variables.scss';
@import '_mixins.scss';
@import '_placeholder.scss';



// reinitializing values
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    @include flex-center;
}


// Header part with logo and search--------
.nav-home {
    @include flex-column;
    width: $breakpoints-mobile;

    &__logo {
        @include flex-center;
        @include logo-home;
    }

    &__search {
        @include flex-center;
        height: 52px;
        width: 100%;
        background-color: #D9D9D9;
        box-shadow: $shadow-search;

        input {
            background-color: #D9D9D9;
            box-shadow: $shadow-search;
            height: 52px;
            width: 112px;
            border-style: none;
            padding-left: 16px;
            // &::placeholder{

            // }
            &:focus {
                outline: none;
            }
        }
    }
}

// header with texts, button --------
.nav-home__styling {
    margin: $margin-page;
    @include flex-column;
    background-color: $bg-grey;
    width: 100%;

    .intro {
        @include typography-title;
        padding: 24px 32px 16px 32px;
        align-self: center;
    }

    .discover {
        font-family: $font-texts-titles;
        padding: 8px 16px 24px 16px;
    }

    .explore {
        @include btn-styling;
        margin-bottom: 48px;
    }
}

// to light the color of the button order on hover, use exp: background: lighten (@mixin btn-gradient, an integer "for exemple")

//How to section-------------
.howto-container{
    @include flex-column;
    width: $breakpoints-mobile;
    margin: $margin-page; 
    margin-top: 32px; 

    &__operation{
        font-family: $font-texts-titles;
        align-self: flex-start;
        padding-bottom: 32px;
    }

    

}