.nav-home {
    width: $breakpoints-mobile;
    font-family: $font-texts-titles;

    @media screen and (min-width: 600px) {
        width: $breakpoints-desktop;
    }

    &__search {
        @include flex-center;
        height: 52px;
        width: 100%;
        background-color: $bg-clr-search;
        // box-shadow: $shadow-search;

        @media screen and (min-width: 600px) {
            width: 264px;
            margin-top: 32px;
            margin-bottom: 32px;
            background-color: lighten($color: $primary-color, $amount: 20%);
            border-radius: 24px;

            i {
                color: $txt-btn;
            }
        }

        input {
            background-color: $bg-clr-search;
            height: 52px;
            width: 112px;
            border-style: none;
            padding-left: 16px;
            // &::placeholder{

            // }
            &:focus {
                outline: none;
            }

            @media screen and (min-width: 600px) {
                width: 184px;
                background-color: lighten($color: $primary-color, $amount: 20%);
                font-size: $fs-card-texts;
                color: $txt-btn;

                &::placeholder {
                    color: $txt-btn;
                }

            }
        }
    }

    &__styling {
        margin: $margin-page;
        background-color: $bg-clr-grey-header;
        width: 100%;

        // @media screen and (min-width: 600px){

        // }
    }

    &__intro {
        @include typography-title;
        padding: 24px 32px 16px 32px;
        align-self: center;
        text-align: center;

        @media screen and (min-width: 600px) {
            padding-bottom: 48px;
            padding-top: 48px;
        }
    }

    &__discover {
        font-family: $font-texts-titles;
        padding: 8px 16px 24px 16px;
        text-align: center;

        @media screen and (min-width: 600px) {
            padding-bottom: 48px;
            font-size: $fs-texts;
        }
    }
}

//How to section-------------
.howto-container {
    width: $breakpoints-mobile;
    margin: $margin-page;
    margin-top: 48px;
    margin-bottom: 56px;

    @media screen and (min-width: 600px) {
        width: $breakpoints-desktop;
    }


    &__operation {
        font-family: $font-texts-titles;
        align-self: flex-start;
        padding-bottom: 24px;
    }


    @media screen and (min-width: 600px) {
        font-size: $fs-card-title;

        &__operation {
            align-self: center;
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
}

ul.howto-container__how {
    counter-reset: li;
    list-style-type: none;
    font-size: 16px;
    width: 100%;
    height: auto;


    li:before {
        content: counter(li);
        counter-increment: li;
        height: 24px;
        width: 24px;
        background-color: $color-num-box;
        border-radius: 50%;
        color: $txt-btn;
        text-align: center;
        position: relative;
        left: -8px;
    }

    @media screen and (min-width: 600px) {
        font-size: $fs-card-texts;
        width: 100%;
        display: flex;
        flex-direction: row;

        li:before {
            height: 40px;
            width: 40px;
            font-size: 32px;
        }
    }

}

.list {
    height: $box-height;
    width: $box-width;
    background-color: $bg-clr-grey-header;
    border-radius: $box-radius;
    margin-bottom: 16px;
    box-shadow: $shadow-cards-how-to;

    &--text {
        font-family: $font-texts-titles;
        font-weight: bold;
        padding-left: 16px;
    }

    @media screen and (min-width: 600px) {
        height: 100px;

        &--1, &--2{
            margin-right: 24px;
        }
    }
}



.name-restaurant {
    align-self: flex-start;

}

.restaurant-location {
    align-self: flex-start;

}