// // Menu page - La palette du goût

.iconheart {
    border-radius: 32px 32px 0 0;
    z-index: 1;
    padding: 24px;
    background-color: $bg-clr-grey-header;
    position: relative;
    height: 50px;
    top: -48px;

    @include media-tablet {
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        height: 60px;
        border-radius: 0;
        background-color: transparentize($bg-clr-search, 0.5);
    }

    @include media-desktop {
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        height: 80px;
        border-radius: 0;
        background-color: transparentize($bg-clr-search, 0.5);
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 32px;
        font-family: $font-titles-pages;
        font-size: $fs-title-phone + 2;
        

        i{
            padding: 0;
        }

        @include media-tablet{
            padding-top: 0;
            padding-right: 16px;
            font-size: $fs-card-title-desktop;
            justify-content:center;

           i{
                padding-left: 15%;
            }
        }

        @include media-desktop {
            justify-content:center;
            padding-right: 24px;
            padding-top: 0;
            font-size: $fs-titles-desktop;

            i{
                padding-left: 20%;
            }
        }
    }
}

.starters {
    @include media-phone;
    width: 90%;
    margin: $margin-page;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $bg-clr-grey-header;
    height: auto;

    &__title {
        width: 50px;
        font-family: $font-texts-titles;
        font-weight: lighter;
        font-size: $fs-text-xs-phone;
        border-bottom: 3px solid $tertiary-color;
        margin-bottom: 24px;
        
        @include media-tablet{
            @include card-title-tablet;
            margin-top: 86px;
            margin-bottom: 32px;
        }

        @include media-desktop {
            @include card-title-desktop;
            margin-top: 104px;
            margin-bottom: 32px;
        }
    }

    @include media-tablet{
        background-color: transparent;
        max-width: 60%;
        height: auto;
        margin-top: 40px;
    }

    @include media-desktop {
        background-color: transparent;
        width: 50%;
        height: auto;
        margin-top: 30px;
    }
}

.maincorse {
    @include media-phone;
    width: 90%;
    margin: $margin-page;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $bg-clr-grey-header;
    height: auto;

    &__title {
        width: 50px;
        font-family: $font-texts-titles;
        font-weight: lighter;
        font-size: $fs-text-xs-phone;
        border-bottom: 3px solid $tertiary-color;
        margin-bottom: 24px;

        @include media-tablet{
            @include card-title-tablet;
            margin-bottom: 32px;
        }
        
        @include media-desktop {
            @include card-title-desktop;
            margin-bottom: 32px;
        }
    }

    @include media-tablet{
        background-color: transparent;
        max-width: 60%;
        height: auto;
        margin-top: 40px;
    }

    @include media-desktop {
        background-color: transparent;
        width: 50%;
        margin-top: 30px;
    }
}

.desserts {
    @include media-phone;
    width: 90%;
    margin: $margin-page;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $bg-clr-grey-header;
    height: auto;

    &__title {
        width: 50px;
        font-family: $font-texts-titles;
        font-weight: lighter;
        font-size: $fs-text-xs-phone;
        border-bottom: 3px solid $tertiary-color;
        margin-bottom: 24px;

        @include media-tablet{
            @include card-title-tablet;
            margin-bottom: 32px;
        }

        @include media-desktop {
            @include card-title-desktop;
            margin-bottom: 32px;
        }
    }

    @include media-tablet{
        background-color: transparent;
        max-width: 60%;
        height: auto;
        margin-top: 40px;
    }

    @include media-desktop {
        background-color: transparent;
        width: 50%;
        margin-top: 30px;
    }
}