#wrapper-header {
    @include flex-center;
}

#wrapper-section-operation {
    @include flex-center;
}


#wrapper-intro {
    @include flex-center;
    background-color: map-get($map: $colors, $key: header-intro-grey);
}

// home-page flex
.nav-home {
    @include flex-column;

    @include media-phone {

        &__img {
            @include flex-center;

            &__search {
                @include flex-center;

            }
        }
    }
}

.nav-home__styling {
    @include flex-column;
}

.howto-container {
    @include flex-column;
}

ul.howto-container__how {
    display: flex;
    flex-direction: column;
}


// restaurants cards
#wrapper-section-cards {
    @include flex-center;
    background-color: $bg-clr-grey-header;
}

.home-cards {
    @include flex-column;

    &__container {
        @include flex-column;
    }

    // grid for cards on desktops

    @include media-desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        column-gap: 16px;
        row-gap: 24px;
    }
}

.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// menu pages

// Page - La palette du goût
.nav-palette{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.iconheart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrapper-starters{
    @include flex-center;
    background-color: $bg-clr-grey-header;
}
#wrapper-dessert{
    @extend #wrapper-starters;
    background-color: $bg-clr-grey-header;
}

#wrapper-main{
    @extend #wrapper-starters;
    background-color: $bg-clr-grey-header;
}

#wrapper-dessert{
    @extend #wrapper-starters;
    background-color: $bg-clr-grey-header;
}

.starters-items{
    display: flex;
    height: 86px;
    margin-bottom: 16px;
}


#btn-center{
    @include flex-center;
}

// footer flex
#wrapper-footer {
    @include flex-center;
    background-color: $bg-clr-footer;
}

