#wrapper-header {
    @include flex-center;

    @include media-desktop {
        background-color: $txt-btn;
    }

    @include media-tablet {
        background-color: $txt-btn;
    }
}

#wrapper-section-operation {
    @include flex-center;
}


#wrapper-intro {
    @include flex-center;
    background-color: map-get($map: $colors, $key: header-intro-grey);
}

// home-page flex
.nav-home {
    @include flex-column;

    @include media-phone {
        &__img {
            @include flex-center;


            &__search {
                @include flex-center;
            }
        }
    }

    @include media-tablet {
        &__img {
            @include flex-center;

            &__search {
                @include flex-center;
            }
        }
    }
}



.nav-home__styling {
    @include flex-column;
}

.howto-container {
    @include flex-column;
}

ul.howto-container__how {
    display: flex;
    flex-direction: column;
}


// restaurants cards
#wrapper-section-cards {
    @include flex-center;
    background-color: $bg-clr-grey-header;
}

.home-cards {
    @include flex-column;

    &__container {
        @include flex-column;
    }


    @include media-tablet {

        &__container {
            @include flex-column;
        }
    }

    @include media-tablet {
        width: 80%;
    }

    // grid for cards on desktops
    @include media-desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        column-gap: 16px;
        row-gap: 24px;
    }

}

.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// menu pages

// Page - La palette du goût
.nav {

    &--palette,
    &--enchantee, 
    &--sens, 
    &--france {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.iconheart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-tablet {
        justify-content: center;
        align-items: center;
    }

    @include media-desktop {
        justify-content: center;
        align-items: center;
    }
}

#wrapper-starters {

    @include flex-center;
    background-color: $bg-clr-grey-header;

    @include media-tablet {
        background-color: transparent;
        height: auto;
    }

    @include media-desktop {
        background-color: transparent;
        height: auto;
    }
}


#wrapper-main {
    @extend #wrapper-starters;
    background-color: $bg-clr-grey-header;

    @include media-tablet {
        background-color: transparent;
    }

    @include media-desktop {
        background-color: transparent;
    }

}

#wrapper-dessert {
    @extend #wrapper-starters;
    background-color: $bg-clr-grey-header;

    @include media-tablet {
        background-color: transparent;
    }

    @include media-desktop {
        background-color: transparent;
    }
}


#btn-center {
    @include flex-center;
    margin-top: 24px;

    @include media-tablet {
        height: 120px;
    }

    @include media-desktop {
        height: 184px;
    }
}

// footer flex
#wrapper-footer {
    @include flex-center;
    background-color: $bg-clr-footer;
}