.footercontainer {
    margin: $margin-page;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 32px;
    width: 100%;


    @include media-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        margin: 0 32px 0 32px;
    }

    &__box {
        display: flex;
        flex-direction: column;

        @include media-desktop {
            width: 80%;
            flex-direction: row;
            justify-content: space-between;
            margin: 32px 0 24px 0;
        }

        a {
            text-decoration: none;
        }

        &--legal,
        &--contact {
            color: $txt-btn;
            padding-top: 8px;
            font-family: $font-texts-titles;

            @include media-tablet{
                font-size: $fs-title-phone - 2px;
                padding: 8px;
            }

            @include media-desktop {
                padding-top: 0;
                font-size: $fs-title-phone;
            }
        }
    }

}