.footercontainer{
    padding-top: 24px; 
    padding-bottom: 32px;
    width: $phone;

    a{
        text-decoration: none;
    }

   &__legal, &__contact {
       color: $txt-btn;
       padding-top: 8px;
       font-family: $font-texts-titles;
   }


   @include media-desktop{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
       height: 200px;
       margin: $margin-page;
   }
}