// Menu page - La palette du goût
.nav {

    &--palette,
    &--enchantee,
    &--sens,
    &--france {

        width: 100%;
        margin: $margin-page;
        margin-top: 16px;
        margin-bottom: 16px;

        a {
            align-self: flex-start;

            i {
                color: $text-color;
                font-size: 20px;
            }
        }

        @include media-tablet {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
            padding: 24px;
            background-color: $txt-btn;
            box-shadow: 0px 4px 5px 0px rgba(98, 98, 98, 0.41);
            z-index: 2;
            max-height: 60px;
            position: fixed;
            top: 0;

            a {
                align-self: flex-start;

                i {
                    font-size: 24px;
                    color: $text-color;
                }
            }
        }

        @include media-desktop {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding: 16px;
            background-color: $txt-btn;
            box-shadow: 0px 4px 5px 0px rgba(98, 98, 98, 0.41);
            z-index: 2;
            position: fixed;
            top: 0;

            a {
                align-self: flex-start;

                i {
                    font-size: 32px;
                    color: $text-color;
                    padding-top: 8px;
                }
            }
        }
    }
}