// Homepage button---------
.nav-home__explore {
    @include btn-styling;
    margin-bottom: 48px;
    cursor: pointer;
}


//  ------Button menu pages-------
.orderbtn{
    width: 100%;
    @include btn-styling;
    margin-bottom: 48px;
    cursor: pointer;
}