// Homepage button---------
.nav-home__explore {
    @include btn-styling;
    margin-bottom: 48px;
    cursor: pointer;

    &:active{
        @include btn-click;
    }
}


//  ------Button menu pages-------
.orderbtn{
    width: 100%;
    @include btn-styling;
    cursor: pointer;
    margin-bottom: 48px;

    &:active{
        @include btn-click;
    }

    @include media-desktop{
        margin-bottom: 48px;
    }
}