.home-cards {
    width: $breakpoints-mobile;
    margin: $margin-page;
    height: auto;

        @media screen and (min-width: 600px){
            width: $breakpoints-desktop;
            height: auto;
        }

    &__title {
        font-family: $font-texts-titles;
        align-self: flex-start;
        padding-top: 48px;
        padding-bottom: 16px;
    }

    &__container {
        overflow: hidden;
        width: $card-width-restaurant;
        border-radius: $card-radius-restaurant;
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: $text-color;

        // @media screen and (min-width: 600px){
        //     width: 400px;
        //     height: 400px;
        // }
    }

}

