.list i {
    justify-self: flex-start;
    align-self: center;
    padding: 0 16px 0 8px;
    color: $bg-icon-header;

    @include media-tablet{
        padding-left: 32px;
        font-size: 24px;
    }

    @include media-desktop {
        padding: 0 8px 0 8px;
    }
}

// icon heart on homepage cards
.clic-heart,
.clic-heart-1,
.clic-heart-2 {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}


// footer in homepage footer and menu pages
.footercontainer__box {
    &--icon-fork {
        padding-top: 8px;
        color: $txt-btn;
        font-family: $font-texts-titles;

        i {
            padding-right: 16px;
        }

        @include media-tablet{
            font-size: $fs-title-phone - 2px;
            padding: 8px;
        }

        @include media-desktop {
            padding-top: 0;
            font-size: $fs-title-phone;
        }
    }

    &--icon-hands {
        padding-top: 8px;
        color: $txt-btn;
        font-family: $font-texts-titles;

        i {
            padding-right: 8px;
        }

        @include media-tablet{
            font-size: $fs-title-phone - 2px;
            padding: 8px;
        }

        @include media-desktop {
            padding-top: 0;
            font-size: $fs-title-phone;
        }
    }
}


.iconheart {

    i {
        font-size: 24px;
        padding-top: 32px;

        @include media-tablet{
            padding-top: 0;
        }
        
        @include media-desktop {
            padding-left: 56px;
            padding-top: 0;
        }
    }
}

.starters__choice {
    i {
        @include icon-check-hover;
    }
}

.maincorse__choice {
    i {
        @include icon-check-hover;
    }
}

.desserts__infoprice {
    i {
        @include icon-check-hover;
    }
}