.list i {
    justify-self: flex-start;
    align-self: center;
    padding: 0 16px 0 8px;
    color: $bg-icon-header;

    @include media-desktop {
        padding: 0 8px 0 8px;
    }
}

// icon heart on homepage cards
.clic-heart,
.clic-heart-1,
.clic-heart-2 {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}


// footer in homepage footer and menu pages
.footercontainer {
    &__icon--fork {
        padding-top: 8px;
        color: $txt-btn;
        font-family: $font-texts-titles;

        i {
            padding-right: 16px;
        }

        @include media-desktop {
            padding-top: 0;
            font-size: $fs-title-phone;
        }
    }

    &__icon--hands {
        padding-top: 8px;
        color: $txt-btn;
        font-family: $font-texts-titles;

        i {
            padding-right: 8px;
        }

        @include media-desktop {
            padding-top: 0;
            font-size: $fs-title-phone;
        }
    }
}


// icons in menu pages
.nav-palette {
    // i = arrow left
    @include media-desktop{
        height: 76px;
        margin: 24px 0 24px 0;
    }

    i,
    a {
        font-size: 18px;
        color: $text-color;
        margin-right: 16px;

        @include media-desktop{
            font-size: 24px;
            padding-top: 10px;
        }
    }
}

.iconheart {
    i {
        font-size: 24px;
        padding-top: 32px;
    }
}

.starters__choice {
    i {
        border-radius: 0 16px 16px 0;
        text-align: center;
        padding-top: 32px;
        font-size: 24px;
        color: $txt-btn;
        transform: scale(0);
        background-color: $tertiary-color;
        width: 60px;
        height: 87px;
    }
}

.maincorse__choice {
    i {
        border-radius: 0 16px 16px 0;
        text-align: center;
        padding-top: 32px;
        font-size: 24px;
        color: $txt-btn;
        transform: scale(0);
        background-color: $tertiary-color;
        width: 60px;
        height: 87px;
    }
}

.desserts__infoprice{
    i {
        border-radius: 0 16px 16px 0;
        text-align: center;
        padding-top: 32px;
        font-size: 24px;
        color: $txt-btn;
        transform: scale(0);
        background-color: $tertiary-color;
        width: 60px;
        height: 87px;
    }
}