.nav-home {
    width: 100%;

    &__img {
        width: 100%;
        height: 80px;
        box-shadow: 0px 4px 5px 0px rgba(98, 98, 98, 0.41);
        z-index: 5;

        @include media-tablet {
            width: 100%;
            height: auto;
        }

        @include media-desktop {
            box-shadow: none;
            border-style: none;
            width: 100%;
            height: 180px;
            @include flex-column;
        }
    }

    &__logo {
        @include logo-home;
    }

}


// logo on menu pages
.nav__logo {

    // For palette du goût
    &--palette,
    &--enchantee,
    &--sens,
    &--france {
        flex-basis: 100%;
        align-self: center;
        height: 24px;

        @include media-tablet {
            height: 32px;
        }

        @include media-desktop {
            height: 48px;
            align-self: center;
            margin-right: 56px;
        }
    }
}

.imgfood {

    &--palette,
    &--enchantee,
    &--sens,
    &--france {
        width: 100%;
        height: 200px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;


        @include media-tablet {
            display: none;
        }

        @include media-desktop {
            display: none;
        }
    }
}

.parallax__palette {

    @include media-desktop {
        @include parallax;
        background-image: url(..//..//image/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }

    @include media-tablet {

        @include parallax;
        background-image: url(..//..//image/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }
}

.parallax__enchantee {

    @include media-desktop {

        @include parallax;
        background-image: url(..//..//image/stil-u2Lp8tXIcjw-unsplash.jpg);
    }

    @include media-tablet {

        @include parallax;
        background-image: url(..//..//image/stil-u2Lp8tXIcjw-unsplash.jpg);
    }
}

.parallax__sens {

    @include media-desktop {

        @include parallax;
        background-image: url(..//..//image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);

    }

    @include media-tablet {

        @include parallax;
        background-image: url(..//..//image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);

    }
}

.parallax__france {

    @include media-desktop {

        @include parallax;
        background-image: url(..//..//image/toa-heftiba-DQKerTsQwi0-unsplash.jpg);

    }

    @include media-tablet {

        @include parallax;
        background-image: url(..//..//image/toa-heftiba-DQKerTsQwi0-unsplash.jpg);

    }
}


// footer logo
.footercontainer__logo {
    height: 24px;
    width: 104px;
    -webkit-filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(176deg);
    filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(176deg);
    margin-bottom: 16px;

    @include media-desktop {
        height: auto;
        width: 200px;
        margin-bottom: 0;
    }

    @include media-tablet {
        height: auto;
        width: 152px;
        margin-bottom: 0;
        padding-bottom: 16px;
        padding-top: 16px;
    }

}