.nav-home {
    &__img {
        width: 100%;
        height: 80px;
        box-shadow: 0px 4px 5px 0px rgba(98, 98, 98, 0.41);
        z-index: 1;
        
        @include media-desktop {
            box-shadow: none;
            border-style: none;
        }
    }

    &__logo {
        @include logo-home;
    }

}


// footer logo
.footercontainer__logo {
    height: 24px;
    width: 104px;
    filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(176deg);
    margin-bottom: 16px;

    @include media-desktop{
        height: auto;
        width: 200px;
    }
}