// homepage animations
.list:hover {
    background-color: lighten($color: $primary-color, $amount: 30%);

    &:hover>i {
        color: $primary-color;
    }
}



// Using before and after to use and style the icon heart without putting it on html
// font-weight 900 to specify that it is a filled (solid) icon. f-weight 400 = regular.

.click-heart:active,
.click-heart:hover {

    &::before {
        content: '\f004';
        font-size: 24px;
        font-weight: 900;
        background-image: linear-gradient($gradient-heart);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::after {
        position: absolute;
        content: '';
        font-weight: 900;
        height: 100%;
        width: 100%;
        background: darken($color: $txt-btn, $amount: 3%);
        text-shadow: $shadow-cards-menu;
        left: 0;
        border-radius: 45%;
        -webkit-animation: fill-up 1.5s cubic-bezier(.11, .22, .42, .34) forwards;
        animation: fill-up 800ms cubic-bezier(.11, .22, .42, .34) forwards;

        // For cubic bezier, i've used the online generator.
    }

    @-webkit-keyframes fill-up {
        0% {
            transform: translateY(-1);
            background-image: none;
        }

        100% {
            transform: translateY(-95%);
            background-image: linear-gradient($gradient-heart);

        }
    }

    @keyframes fill-up {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-95%);
        }
    }
}



// animations on menu pages
.starters__choice,
.maincorse__choice,
.desserts__choice {
    position: relative;
    overflow: hidden;


    &:hover {
        padding-right: 12%;
        transition: 1000ms;

        .icon-bg::before {
            content: "";
            display: block;
        }

        .icon-bg::after {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: $tertiary-color;
            top: 0;
            left: 86%;
            border-radius: 0 16px 16px 0;
            height: 100%;
            min-width: 15%;
            -webkit-animation: move-left 900ms ease-in-out forwards;
            animation: move-left 900ms ease forwards;
        }

        .icon-bg:hover::after {

            @-webkit-keyframes move-left {
                0% {
                    transform: translateX(100%);
                    transform: scaleX(0);
                }

                100% {
                    transform: translateX(0%);
                }
            }

            @keyframes move-left {
                0% {
                    transform: translateX(100%);
                    opacity: 0.5;
                }

                100% {
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
        }

        .i-hover::before {
            content: "";
        }

        .i-hover::after {
            @include icon-check-after;
            -webkit-animation: spin-icon 1200ms ease forwards;
            animation: spin-icon 1200ms ease forwards;
        }

        .i-hover:hover::after {
            @-webkit-keyframes spin-icon {
                0% {
                    transform: translateX(100%) rotate(360deg);
                    opacity: 0.5;
                }

                100% {
                    transform: translateX(0%) rotate(0deg);
                    opacity: 1;
                }
            }

            @keyframes spin-icon  {
                0% {
                    transform: translateX(100%) rotate(360deg);
                    opacity: 0.5;
                }

                100% {
                    transform: translateX(0%) rotate(0deg);
                    opacity: 1;
                }
            }
        }
    }

}