// Loader animation

#loader-container {
    @include flex-center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: $light-purple;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-animation: bg-anim 3000ms forwards;
    animation: bg-anim 3000ms forwards;

    @-webkit-keyframes bg-anim {
        0% {
            opacity: 1;
            z-index: 99;
        }

        50% {
            opacity: 1;
            z-index: 99;
        }

        60% {
            opacity: 0.7;
            z-index: 99;
        }

        70% {
            opacity: 0.5;
            z-index: 99;
        }

        85% {
            opacity: 0.2;
            z-index: 99;
        }

        100% {
            opacity: 0;
            z-index: -99;
        }
    }


    @keyframes bg-anim {
        0% {
            opacity: 1;
            z-index: 99;
        }

        50% {
            opacity: 1;
            z-index: 99;
        }

        60% {
            opacity: 0.7;
            z-index: 99;
        }

        70% {
            opacity: 0.5;
            z-index: 99;
        }

        85% {
            opacity: 0.2;
            z-index: 99;
        }

        100% {
            opacity: 0;
            z-index: -99;
        }
    }
}

.bar-container {
    position: relative;
    height: 15%;
    width: 100%;
    top: 0;
    overflow: hidden;
}

.loader-bar {
    position: absolute;
    height: 15%;
    width: 70%;
    top: 85%;
    border-bottom: 8px solid $tertiary-color;
    margin: 0 auto;
}

.spin-loader {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -80px;
    left: 0;
    margin-left: -40px;
    background-color: $tertiary-color;
    border-radius: 30%;
    -webkit-animation: load-spin 2800ms forwards;
    animation: load-spin 2800ms forwards;


    @-webkit-keyframes load-spin {
        0% {
            left: 0;
        }

        50% {
            left: 103%;
            transform: rotate(450deg);
            width: 300px;
            height: 150px;
        }

        100% {
            left: 103%;
            transform: rotate(450deg);
            width: 300px;
            height: 300px;
        }
    }


    @keyframes load-spin {
        0% {
            left: 0;
        }

        50% {
                left: 100%;
                transform: rotate(450deg);
                width: 320px;
                height: 310px;
        }

        100% {
            left: 100%;
            transform: rotate(450deg);
            width: 320px;
            height: 310px;
        }
    }
}

.logo-preloader {
    position: absolute;
    left: 70%;
    top: 52%;
    height: 50px;
    width: 230px;
    opacity: 1;

    -webkit-animation: load-opacity 2800ms forwards;
            animation: load-opacity 2800ms forwards;

    @-webkit-keyframes load-opacity {
        0%{
            opacity: 0;
        }

        50%{
            opacity: 0;
        }

        90%{
            opacity: 1;
        }

        100%{
            opacity: 1;
        }
    }

    @keyframes load-opacity {
        0%{
            opacity: 0;
        }

        50%{
            opacity: 0;
        }

        90%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }
}


// homepage animations
.list:hover {
    background-color: lighten($color: $primary-color, $amount: 30%);
    @include hover-style-shadow;

    &:hover>i {
        color: $primary-color;
    }
}



// Using before and after to use and style the icon heart without putting it on html
// font-weight 900 to specify that it is a filled (solid) icon. f-weight 400 = regular.

.click-heart:active,
.click-heart:hover {

    &::before {
        content: '\f004';
        font-size: 24px;
        font-weight: 900;
        background-image: linear-gradient($gradient-heart);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::after {
        position: absolute;
        content: '';
        font-weight: 900;
        height: 100%;
        width: 100%;
        background: darken($color: $txt-btn, $amount: 3%);

        left: 0;
        border-radius: 45%;
        -webkit-animation: fill-up 800ms cubic-bezier(.11, .22, .42, .34) forwards;
        animation: fill-up 800ms cubic-bezier(.11, .22, .42, .34) forwards;

        // For cubic bezier, i've used the online generator.
    }

    @-webkit-keyframes fill-up {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-95%);
        }
    }

    @keyframes fill-up {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-95%);
        }
    }
}



// animations on menu pages
// Animation on check icon on hover

@for $i from 1 to 5 {

    .starters__choice--#{$i},
    .maincorse__choice--#{$i},
    .desserts__choice--#{$i} {

        position: relative;
        overflow: hidden;

        &:hover {
            padding-right: 12%;
            @include hover-style-shadow;
            transition: 400ms;

            @include media-tablet {
                padding-right: 15%;
            }

            @include media-desktop {
                padding-right: 15%;
            }

            .icon-bg::before {
                content: "";
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .icon-bg::after {
                content: "";
                position: absolute;
                background-color: $tertiary-color;
                top: 0;
                left: 86%;
                border-radius: 0 16px 16px 0;
                height: 100%;
                width: 15%;
                -webkit-animation: move-left 400ms ease-in-out forwards;
                animation: move-left 400ms ease-in-out forwards;
            }

            .icon-bg:hover::after {
                border-radius: 0 16px 16px 0;


                @-webkit-keyframes move-left {
                    0% {
                        transform: translateX(100%);
                        opacity: 0.5;

                    }

                    100% {
                        transform: translateX(0%);
                        opacity: 1;
                    }
                }

                @keyframes move-left {
                    0% {
                        transform: translateX(100%);
                        opacity: 0.5;
                    }

                    100% {
                        transform: translateX(0%);
                        opacity: 1;
                        @include hover-style-shadow;
                    }
                }
            }

            .i-hover::before {
                content: "";
            }

            .i-hover::after {
                @include icon-check-after;
                -webkit-animation: spin-icon 600ms ease forwards;
                animation: spin-icon 600ms ease forwards;
            }

            .i-hover:hover::after {
                @include spin-icon-check;

            }

            .i-hover:active::after {
                @include spin-icon-check;

            }
        }

    }
}


// Animation of cards on menu pages. 

@for $i from 1 to 5 {

    .starters__choice--#{$i},
    .maincorse__choice--#{$i},
    .desserts__choice--#{$i} {

        -webkit-animation: fade-in 600ms ease-in forwards;
        animation: fade-in 600ms ease-in forwards;
        -webkit-animation-delay: $i * 200ms;
        animation-delay: 3005ms, $i * 200ms;


        @-webkit-keyframes fade-in {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }
    }
}