// Font-types
$font-titles-pages: (
    'Shrikhand',
    'cursive'
);
$font-texts-titles: (
    'Roboto',
    sans-serif
);

// Font sizes mobile
$fs-title-phone: 20px;
$fs-text-phone: 18px;
$fs-text-xs-phone: 16px;

// Font sizes desktop
$fs-titles-desktop: 32px;
$fs-texts-desktop: 24px;
$fs-card-title-desktop: 24px;
$fs-card-texts-desktop: 20px;