// ------------------Breakpoints-----------------------


@mixin media-phone{
    @media screen and (min-width: map-get($breakpoints,'phone')){
        &{ @content; }
    }
}

@mixin media-tablet{
    @media screen and (min-width: map-get($breakpoints,'tablet')){
        &{ @content; }
    }
}

@mixin media-desktop{
    @media screen and (min-width: map-get($breakpoints,'desktop')){
        &{ @content; }
    }
}


// ------------------Flex behavior---------------------
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



// ----------------------Typo----------------------------
@mixin typography-title-pages {
    font-family: $font-titles-pages;
    font-size: 24px;
    color: $text-color;

    @include media-desktop{
        font-size: $fs-titles-desktop;
    }
}

@mixin typography-title {
    font-family: $font-texts-titles;
    font-size: $fs-texts-desktop;
    color: $text-color;

    @include media-desktop{
        font-size: $fs-titles-desktop;
    }
}

@mixin typography-txts {
    font-family: $font-texts-titles;
    font-size: 16px;
    color: $text-color;

    @include media-desktop{
        font-size: $fs-texts-desktop;
    }
}

@mixin typography-footer {
    font-family: $font-texts-titles;
    font-size: 8px;
    color: $txt-btn;
}




// ----------------------Button----------------------------
@mixin btn-gradient {
    background: linear-gradient(174deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    color: $txt-btn;
}

@mixin heart-gradient {
    background: linear-gradient(5deg, rgba(255, 121, 218, 1) 14%, rgba(147, 86, 220, 1) 48%);
}


@mixin btn-styling {
    height: $btn-height;
    width: $btn-width;
    @include btn-gradient();
    border-radius: $radius-btn;
    border-style: none; 
    box-shadow: $btn-shadow;


    @include media-desktop(){
        height:  $btn-height * 1.5 ;
        width: $btn-width * 1.5;
        border-radius: $radius-btn * 1.5;
        font-size: $fs-card-texts-desktop;
    }
}



// -------------------------Logo---------------------------
@mixin logo-pages {
    height: $logo-height;
    width: $logo-width;
    color: $text-color;
    background-color: $bg-color-cards-logo;
}

@mixin logo-home {
    height: $logo-height-home;
    width: $logo-width-home;
    color: $text-color;
    background-color: $bg-color-cards-logo;

    @include media-desktop() {
        height: 250px;
        width: 300px;
        background-color: transparent;
    }
}

@mixin logo-footer {
    height: $logo-height-footer;
    width: $logo-width-footer;
    color: $text-color;
    background-color: $bg-color-cards-logo;
}